<div class="form-filler" [formGroup]="responseForm">
  <div class="container p-5">
    <div class="row mb-2">
      <div class="col">
        <h2 class="text-center">{{formTitle}}</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <h5 class="text-center">{{formDescription}}</h5>
      </div>
    </div>
    <div class="row" *ngFor="let input of customForm; let i = index">
      <div class="col">
        <div class="p-2 question">
          {{input.label}}
        </div>

        <!-- TEXT -->
        <div class="input-group mb-3" *ngIf="input.type === InputTypes.TEXT">
          <input type="text" class="form-control" aria-describedby="basic-addon2" [formControlName]="input.label">
        </div>

        <!-- TEXTAREA -->
        <div class="input-group" *ngIf="input.type === InputTypes.TEXT_AREA">
          <textarea class="form-control" aria-label="With textarea" rows="5" [formControlName]="input.label"></textarea>
        </div>

        <!-- CHECKBOX -->
        <div class="form-check" *ngIf="input.type === InputTypes.CHECKBOX" [formGroupName]="input.label">
          <div *ngFor="let option of input.options; let i = index">
            <input class="form-check-input" type="checkbox" [id]="'checkbox-'+ i"
              [formControl]="responseForm.controls[input.label].controls[i]">
            <label class="form-check-label" [for]="'checkbox-'+ i">
              {{option}}
            </label>
          </div>
        </div>

        <!-- RADIO_BUTTONS -->
        <div class="form-check" *ngIf="input.type === InputTypes.RADIO_BUTTONS">
          <div *ngFor="let option of input.options; let i = index">
            <input class="form-check-input" type="radio" name="radio" [id]="'radio-'+ i" value="option1">
            <label class="form-check-label" [for]="'radio-'+ i">
              {{option}}
            </label>
          </div>
        </div>

        <!-- SELECT -->
        <div class="input-group mb-3" *ngIf="input.type === InputTypes.SELECT">
          <select class="custom-select" id="inputGroupSelect01" [formControlName]="input.label">
            <option [value]="option" *ngFor="let option of input.options; let i = index">{{option}}</option>
          </select>
        </div>

        <!-- SWITCH -->
        <div class="custom-control custom-checkbox mb-3" *ngIf="input.type === InputTypes.SWITCH">
          <input type="checkbox" class="custom-control-input" id="customControlValidation1"
            [formControlName]="input.label">
          <label class="custom-control-label" for="customControlValidation1">{{input.options[0]}}</label>
        </div>

        <!-- DATE -->
        <div class="form-group row" *ngIf="input.type === InputTypes.DATE">
          <div class="col">
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
              id="example-datetime-local-input" [formControlName]="input.label">
          </div>
        </div>
        <!-- TIME -->
        <div class="form-group row" *ngIf="input.type === InputTypes.TIME">
          <div class="col">
            <input class="form-control" type="time" value="13:45:00" id="example-time-input"
              [formControlName]="input.label">
          </div>
        </div>
        <!-- DATETIME -->
        <div class="form-group row" *ngIf="input.type === InputTypes.DATETIME">
          <div class="col">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input"
              [formControlName]="input.label">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="save-details">
    <button class="btn btn-success ml-3 mr-2" (click)="saveDetails()">Save Details</button>
  </div>
</div>
